<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAByI8rW3Qm5F3zv1gXHjnDV8PRnkUn2HA&libraries=visualization"></script>
<% if @results.size > 0 %>
  <h1>
    Where are those jobs most needed at the moment?
  </h1>

  <% if @distance %>
    <h3>
      Approx distance to your selected living area: <%= @distance %><br>
      It would cost you roughly : <%= number_to_currency( ((@distance[0..-4].to_f) * 0.24), unit: '£') %>
    </h3>
  <% end %>
  <script>
  window.results = <%= raw @results.to_json %>
  </script>
  <p>The map below shows the density for job vancancies listed for <%= @keyword %>.</p>
  <div id="map-canvas"></div>
<% else %>
  <h1>
    Sorry, there aren't any vacancies listed in that area. 
  </h1>
  <h2>
    <% random_keyword = ["football", "catering", "teaching", "music", "catering", "chef"].sample %>
    Have you thought of a career in <a href="/results?keyword=<%= random_keyword%>"><%= random_keyword%>?</a>
  </h2>
<% end %>
