<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAByI8rW3Qm5F3zv1gXHjnDV8PRnkUn2HA&libraries=visualization"></script>
<% if @results.size > 0 %>
  <h1>
    Where are <%= @keyword %> jobs most needed at the moment?
  </h1>

  <% if @distance %>
    <h3>
      Your journey to work would be approximately <%= @distance %><br>
      If you drove that distance it would be roughly <%= number_to_currency( ((@distance[0..-4].to_f) * 0.24), unit: '£') %> to drive there every day.
    </h3>
    <script>
      window.location_from = {
        lat: <%= @location_from_origin.lat %>,
        lng: <%= @location_from_origin.lng %>
      }
      window.location_to = {
        lat: <%= @location_to_origin.lat %>,
        lng: <%= @location_to_origin.lng %>
      }
    </script>
  <% end %>
  <script>
  window.results = <%= raw @results.to_json %>
  </script>
  <p>The map below shows the density for job vancancies listed for <%= @keyword %>.</p>
  <p><a href="#" class="toggle">Toggle markers</a></p>
  <div id="map-canvas"></div>
<% else %>
  <h1>
    Sorry, there aren't any vacancies listed in that area. 
  </h1>
  <h2>
    <% random_keyword = ["football", "catering", "teaching", "catering", "chef"].sample %>
    Have you thought of a career in <a href="/results?keyword=<%= random_keyword%>"><%= random_keyword%>?</a>
  </h2>
<% end %>
