<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAByI8rW3Qm5F3zv1gXHjnDV8PRnkUn2HA&libraries=visualization"></script>
<% if @distance %>
    <script>
      window.location_from = {
        lat: <%= @location_from_origin.lat %>,
        lng: <%= @location_from_origin.lng %>
      }
      window.location_to = {
        lat: <%= @location_to_origin.lat %>,
        lng: <%= @location_to_origin.lng %>
      }
    </script>
  <% end %>
<% if @results.size > 0 %>
  <script>
  window.results = <%= raw @results.to_json %>
  </script>
  <a href="#" class="toggle">Toggle markers</a>
  <div id="map-canvas"></div>
<% else %>
  <h1>
    Sorry, there aren't any vacancies listed in that area. 
  </h1>
  <h2>
    <% random_keyword = ["football", "catering", "teaching", "catering", "chef"].sample %>
    Have you thought of a career in <a href="/results?keyword=<%= random_keyword%>"><%= random_keyword%>?</a>
  </h2>
<% end %>
